<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}</title>
        <link rel="stylesheet" href="static/style.css">
        {% block head %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}
        <nav>
            <a href="{{url for('hello_world')}}">home</a>
        </nav>
        <h1>
            Cats
        </h1>
        <h2>by Amelia Vrieze</h2>
        <p>
            Yay cats!

            <h3>Sign the guest book</h3>
            <form action="/add" method="POST">
                <label>Your Name</label>
                <input type="text" id="name" name="name"><br>
                <input type="submit"><br>
            </form>
            {% if names}
            <ul>
                {% for name in names %}
                    <li>{{name}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            
        </p>
    </body>
</html>